<!doctype html>
</div>
<div class="col-sm-12">
  <h1>Profitability Reports</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Q4 2020</th>
          <th scope="col">Q3 2020</th>
        </tr>
      </thead>
        <tbody>
        {% for row in output_data: %}
          <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
