<html>
  <head>
    <title>project1 - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>INDEX</h1>

        <a href="http://127.0.0.1:5000/login" class="navbar-item">
          LOGIN
        </a>
        <a href="http://127.0.0.1:5000/register" class="navbar-item">
          REGISTER
        </a>
        <a href="http://127.0.0.1:5000/logout" class="navbar-item">
          LOGOUT
        </a>
    </div>
  
 
  </body>
</html>