<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Project Supermarket</title>
    <link  href="resources/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="topNav col-xs-12">
        <a href=""><i class="material-icons" style="font-size:30px;float:left">menu</i></a>
        <a href=""><i class="material-icons" style="font-size:30px;float:right">person</i></a>
    </div>


    <div class="gameNav col-sm-12">
        <div class="gameNav col-sm-3">
            <a href="#home">Warm Price Supermarket</a>
        </div>

        <div class="middlePortion col-sm-6">
            <a href="#news">Review Instructions</a>
            <a href="#contact">Current Standing</a>
        </div>

        <div class="gameNav col-sm-3">
            <a href="#about">Round 6-22</a>
        </div>
    </div>

    <div>
            <div class= "rules" id= "rulebackground">
                    <img class="rules" src="resources/guide_and_rules/Base Rules.png" alt="report">
            </div>  
    </div>
</body>

</html>