<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Project Supermarket</title>
    <link  href="resources/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div class="topNav">
    <a href=""><i class="material-icons" style="font-size:30px">menu</i></a>
    <a href=""><i class="material-icons" style="font-size:30px;float:right">person</i></a>
</div>

<div class="container" style="align-content:space-evenly">
    <div class="col-xs-5">
        <a href="#statistics" style="text-align:left">Warm Price Supermarket</a>
        <a href="#news"style="text-align:right">Review Instructions</a>
    </div>
    <div>
        <i class="material-icons" style="font-size:30px">|</i>
    </div>

    <div class="col-xs-6">
        <a href="#currentStanding">Current Standing</a>
        <a href="#cash">Cash On Hand: $value</a>
        <a href="#turn-number">Turn: $round</a>
        <a href="#year">2020</a>
        <a href="#quarter">$quarter</a>
        <a href="#quantityValue">$qty</a>
    </div>
</div>

<div class="container">
    
                 
</div>
            
</body>
</html>

{%https://www.youtube.com/watch?v=gqOEoUR5RHg%}
link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"