* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topNav {
  overflow: hidden;
  background-color: #b9e4dc
;
}

.topNav a {
  float: left;
  color: #996600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a:hover {
  background-color: #ffcc66;
  color: black;
}

.topnav a.active {
  background-color: #996600;
  color: white;
}

.gameNav {
  background-color:black;
  color: black
}

.gameNav a {
  float: left;
  color: blue;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.taskNavImg {
    float:left;
    width: 60px;
    height: 100%;
}

.graphContainer {
    background-color: black;
    color: black;
}

.middlePortion {
    align-content: left;
}